.divContainerIcon{
    text-align: center;
    align-items: center;
    i{
        font-size: 4rem;
    }    
    p{
    font-weight: 500;
    }
}

.formulario{
    text-align: center;
    align-items: center;
}